@font-face {
    font-family: "ChocolateBoxDecorative Regular";
    src: local("ChocolateBoxDecorative Regular"), url("fonts/C_BOX_D.woff") format("woff");
  }

  @font-face {
    font-family: 'Trajan Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Trajan Pro Regular'), url('fonts/TrajanPro-Regular.woff') format('woff');
  }

  .title-contact{
    font-family:fantasy;
  font-size: 65px;
  text-align: center;}

  .text-para-contact{
    font-family: 'Trajan Pro Regular';
    font-size: 20px;
  }

  .contact-det-tit {
    font-size: 25px;
    font-family: fantasy;
  }
  
  .contact-det-tit-text {
    font-family: 'Trajan Pro Regular';
    font-size: 15px;
  }

  .a-mail{
    text-decoration: none;
  }
  

  .video-1{
    width: 25vh;
  }
  
.text-must-visit{
  font-family: 'Trajan Pro Regular';
  font-size: 26px;

}

.our-branches{
  background: linear-gradient(-45deg, #fff374, #c1f190, #fdbe1e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.images-mohd{
  width: 45vh;
}

.map-text{
  font-size: 20px;
  font-family: 'Trajan Pro Regular';

}

  @media (max-width: 790px) {

    .contact-det-tit-text {
      font-family: 'Trajan Pro Regular';
      font-size: 15px;
      text-align: center;
      margin-top:0px;
    }
      

    .video-1{
      width: 40vh;
      margin-top: 20px;
    }

    .images-mohd{
      margin-top: 20px;
    }

    .video-2{
      visibility:hidden;
      display:none;
    }

  }
