@import url('https://fonts.cdnfonts.com/css/trajan-pro');

.logo{
    width: 10vh;
}

@font-face {
    font-family: "ChocolateBoxDecorative Regular";
    src: local("ChocolateBoxDecorative Regular"), url("fonts/C_BOX_D.woff") format("woff");
    /* font-family: "TrajanPro Regular";
    src: local("TrajanPro Regular"), url("/TrajanPro-Bold.woff") format("woff"); */
  }

.bg-img{
    background-image: url("images/banner-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 202vh;
}

.bg-img-2{
  background-image: url("images/bannae-img-2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 70vh;
width: 201vh;
}

.bg-img-3{
  background-image: url("images/bg-img-3.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 70vh;
width: 202vh;
}

/* .bg-img-collection{
  background-image: url("images/bg-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
width: 201vh;
} */

.perfumes-slogan,.perfumes-slogan-arrow{
    color: rgb(174, 0, 255);
    padding-top: 25vh;
    font-family: "ChocolateBoxDecorative Regular";
    font-weight: bold;
    font-size: 4vh;
    text-align: justify;
}

.perfumes-slogan-2,.perfumes-slogan-arrow{
margin-left: 170px;

  }

.perfumes-slogan-arrow{
    padding-top: 1vh;
    color: rgb(0, 130, 144);
    font-size: 3vh;
    margin-left: 250px;

    
  }

  .perfumes-slogan-two,.perfumes-slogan-arrow-2{
    color: rgb(0, 93, 126);
    padding-top: 25vh;
    font-family: "ChocolateBoxDecorative Regular";
    font-weight: bold;
    font-size: 4vh;
    margin-left: 5px;
    /* text-align: center; */
}

.perfumes-slogan-2-1,.perfumes-slogan-arrow-2{
  margin-left: 5px;

  }

.perfumes-slogan-arrow-2{
    padding-top: 1vh;
    color: rgb(46, 0, 144);
    font-size: 3vh;
    margin-left: 250px;
}

.perfumes-slogan-three{
color: rgb(0 126 38);
  padding-top :12vh;
  font-family: "ChocolateBoxDecorative Regular";
  font-weight: bold;
  font-size: 25px;
  /* margin-left: 5px; */
  padding-right: 80px;
  /* text-align: center; */
}

.perfumes-slogan-arrow-3{
  padding-top: 1vh;
  color:rgb(107, 61, 1) ;
  font-size: 3vh;
  /* margin-left: 250px; */
  font-family: "ChocolateBoxDecorative Regular";
  font-weight: bold;

  
}

.perfume-img-1{
  width:51vh;
}

.perfume-img-2{
  width:51vh;
}

.collection-text{
  font-family: 'Trajan Pro', sans-serif;
  text-decoration: solid;
  font-size: 29px;
  text-align: center;       
  /* margin-top: 18px;*/
  color: blueviolet;
}

.collection-text-2{
  font-family: 'Trajan Pro', sans-serif;
  text-decoration: solid;
  font-size: 22px;
  text-align: center;       
  /* margin-top: 18px;*/
 color: burlywood;
}

.bakhoor-image{
  width:51vh;

}

.cards-sec-2{
  padding: 0px;
}

.card-perfume{
  background-color: rgb(66, 255, 236);
  height: 254px;
  width: 51vh;
}

.card-perfume-2{
  background-color: rgb(123, 66, 255);
  width: 379px; height: 254px;
}

.text-brands{
  font-size: 35px;
  text-align: center;
  color: rgb(0, 14, 39);
  margin-top: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-arabic-brand{
  font-size: 35px;
  text-align: center;
  color: rgb(0, 14, 39);
  margin-top: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}

.brand-logo-1,.brand-logo-2{
  width: 30vh;
  border-image: linear-gradient(#d43cf6, #ff8800) 30;
  border-width: 4px;
  border-style: solid;
  height: 226px;
  padding: 10px;
}

.brand-logo-3{
  width: 30vh;
  border-image: linear-gradient(#d43cf6, #ff8800) 30;
  border-width: 4px;
  border-style: solid;
  padding: 10px;
}


.product-card {
  width: 284px;
  position: relative;
}

.card-product-body{
  height: 400px;
  background: linear-gradient(-45deg, #8d2dfb, #33eb98, rgb(241, 248, 144), #f6bb83);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  

.lailatul-ziarat-card{
  height: 400px;
	background: linear-gradient(-45deg, #22eb9e, #f190b6, #a8e8ff, #adffec);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.oud-kalakasi{
  height: 400px;
  background: linear-gradient(-45deg, #fff374, #b7f190, #ffa9a8, #ffadca);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.shaikha-card{
  height: 400px;
  background: linear-gradient(-45deg, #ff6f6f, #90a5f1, #db3ae09c, #fb6464);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.product-card .card-img {
  position: absolute;
  top: 205px;
  left: 7%;
  width: 240px;
  height: 30vh;
}

.arabic-title{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #009797;
}

.title-salamah{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 25px;
color: rgb(0, 95, 71);
}

.lailat-title{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  color: rgb(0, 51, 95);
}

.shaikha-title{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  color: rgb(60, 0, 82);
}

.arabic-shaikha{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color:rgb(38, 0, 41);
}

.kalakasi-title{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  color: rgb(124, 34, 34);
}
 
.kalakasi-arabic{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(101, 72, 26);
}

.arabic-lailat{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color:darkslateblue;
}

.qty-text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
}

.card-text-2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color:rgb(153, 143, 0);
}

.arabic-qty{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.arabic-price{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(0, 55, 182);
}

.quote-perfumes{
  margin-top: 70px;
  font-size: 18px;
  text-align: center;
  font-family: 'Trajan Pro', sans-serif;
  color:#8d2dfb;
  border: 5px solid violet;
  padding: 10px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;

}

.owl-nav{
  text-align: center;
  font-size: 20;
  position: absolute;
  text-align: center;
  top: 460px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.owl-carousel .owl-nav button.owl-next,
 .owl-carousel .owl-nav button.owl-prev{
  border: 2px solid rgb(255, 153, 0);
  background-color:aliceblue;
  border-radius: 30%;
  height: 50px;
  width: 50px;
  margin: 10px 5px;
  color: rgb(11, 129, 0);
  font-size: 30px;
}


.owl-dots {
  text-align: center;
  justify-content: space-between;
}
.owl-dots button.owl-dot.active span,
.owl-dots button.owl-dot:hover span {
  background-color: #feae00;
  border-radius: 20%;
  height: 11px;
  width: 12px;
  position: absolute;
  top: 1px;
  left: 1px;
}
.owl-dots button.owl-dot {
  border: 1px solid gray;
  background: white;
  border-radius: 20%;
  height: 16px;
  width: 16px;
  position: relative;
  top: -62px;
  margin: 10px;
}


.footer {
  background-color: #f8f9fa;
  padding: 20px;
}
.footer a {
    color: #343a40;
    text-decoration: none;
}
.footer a:hover {
    color: #007bff;
}
  

/* .brand-logo-2{
  width: 50vh;
} */



/* 
@media only screen and  (max-width:760px){
  .bg-img{
    background-image: url("images/banner-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33vh;
  width: 80vh;
}
} */


/* Mobile devices (portrait and landscape) */
@media only screen  and (max-width: 790px) {
  body {
    font-size: 14px;
  }
  .bg-img{
    background-image: url("images/banner-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 33vh;
  width: 55vh;
}

.bg-img-2{
  background-image: url("images/bannae-img-2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 33vh;
width: auto;
}

.bg-img-3{
  background-image: url("images/bg-img-3-mob.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 33vh;
width: auto;
}

.perfumes-slogan,.perfumes-slogan-arrow{
  color: rgb(174, 0, 255);
  padding-top: 15vh;
  font-family: "ChocolateBoxDecorative Regular";
  font-weight: bold;
  margin-left: 10px;
  font-size: 10PX;
  text-align: justify;
}


.perfumes-slogan-2,.perfumes-slogan-arrow{
margin-left: 40px;

}

.perfumes-slogan-arrow{
  padding-top:0px;
  color: rgb(0, 130, 144);
  font-size: 8px;
  margin-left: 49px;

  
}

.perfumes-slogan-two,.perfumes-slogan-arrow-2{
  color: rgb(0, 93, 126);
  padding-top: 15vh;
  font-family: "ChocolateBoxDecorative Regular";
  font-weight: bold;
  font-size: 11px;
  margin-left: 5px;
  /* text-align: center; */
}

.perfumes-slogan-2-1,.perfumes-slogan-arrow-2{
margin-left: 5px;

}

.perfumes-slogan-arrow-2{
  padding-top: 0px;
  color: rgb(46, 0, 144);
  font-size: 8px;
  margin-left: 49px;
}

.perfumes-slogan-three{
color: rgb(0 126 38);
padding-top :1vh;
font-family: "ChocolateBoxDecorative Regular";
font-weight: bold;
font-size: 10px;
margin-left: 55px;
padding-right: 80px;
/* text-align: center; */
}

.perfumes-slogan-arrow-3{
padding-top: 0px;
color:rgb(107, 61, 1) ;
font-size: 8px;
/* margin-left: 250px; */
font-family: "ChocolateBoxDecorative Regular";
font-weight: bold;
}

.logo{
  width: 6vh;
}

.collection-text{
  font-size: 9px;
  margin-top: 0px;
}

.collection-text-2{
  font-size: 8px;
  margin-top: 0px;
  padding: 0px;
}

.btn-1,.btn-2{
  font-size: 5px;
  margin-top: 2px;
  padding: 3px;
}


.perfume-img-1,.perfume-img-2,.bakhoor-image{
  height: 145px;
}

.card-perfume,.card-perfume-2{
  width: auto;
  height: auto;
} 

.brand-logo-1,.brand-logo-2,.brand-logo-3{
  margin: 10px;
}

.product-card {
  width: 284px;
  margin-top: 93px;
  position: relative;
}

.product-card-1{
  margin-top: 0px;
}

.quote-perfumes{
  font-size: 10px;
  margin-top: 96px;
}

.owl-dots button.owl-dot {
  border: 1px solid gray;
  background: white;
  border-radius: 20%;
  height: 11px;
  width: 11px;
  position: relative;
  top: -24px;
  margin: 10px;
}

.owl-dots button.owl-dot.active span, .owl-dots button.owl-dot:hover span {
  background-color: #feae00;
  border-radius: 20%;
  height: 7px;
  width: 7px;
  position: absolute;
  top: 1px;
  left: 1px;

}

.owl-nav{
  visibility: hidden;
  /* top: 250px; */
}

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  border: 2px solid rgb(255, 153, 0);
  background-color: aliceblue;
  border-radius: 30%;
  height: 20px;
  width: 20px;
  margin: 23px 4px;
  color: rgb(11, 129, 0);
  font-size: 10px;
}
}

/* Tablets and larger devices (portrait and landscape) */
/* @media only screen and (min-width: 1080px) {
  
  .bg-img{
    background-image: url("images/banner-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 24vh;
  width: 70vh;
}

.bg-img-2{
  background-image: url("images/bannae-img-2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 24vh;
width: 70vh;
}

.bg-img-3{
  background-image: url("images/bg-img-3.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 24vh;
width: 70vh;
}

.perfumes-slogan,.perfumes-slogan-arrow{
  color: rgb(174, 0, 255);
  padding-top: 10vh;
  font-family: "ChocolateBoxDecorative Regular";
  font-weight: bold;
  margin-left: 10px;
  font-size: 18PX;
  text-align: justify;
}


.perfumes-slogan-2,.perfumes-slogan-arrow{
margin-left: 110px;

}

.perfumes-slogan-arrow{
  padding-top:0px;
  color: rgb(0, 130, 144);
  font-size: 18px;
  margin-left: 125px;

  
}

.perfumes-slogan-two,.perfumes-slogan-arrow-2{
  color: rgb(0, 93, 126);
  padding-top: 10vh;
  font-family: "ChocolateBoxDecorative Regular";
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;

}

.perfumes-slogan-2-1,.perfumes-slogan-arrow-2{
margin-left: 5px;

}

.perfumes-slogan-arrow-2{
  padding-top: 0px;
  color: rgb(46, 0, 144);
  font-size: 18px;
  margin-left: 110px;
}

.perfumes-slogan-three{
color: rgb(0 126 38);
padding-top :3vh;
font-family: "ChocolateBoxDecorative Regular";
font-weight: bold;
font-size: 15px;
margin-left: 55px;
padding-right: 80px;
}

.perfumes-slogan-arrow-3{
padding-top: 0px;
color:rgb(107, 61, 1) ;
font-size: 15px;
font-family: "ChocolateBoxDecorative Regular";
font-weight: bold;
}


  body {
    font-size: 16px;
  }
} */


  